table th{
    background-color: #ffffe0;
    padding: 10px 20px;
}

table td{
    background-color: #fffacd;
    padding: 10px 20px;
}

table{
    width: 60%;
    height: 60%;
    margin-left: 150px;
}

.cook-image{
    width: 50%;
    height: 50%;
}